{% extends '../template.html' %}

{% block content %}
    <div class="info-message">
        {% if message %}
            <h1 class="message">{{ message }}</h1>
        {% endif %}
    </div>


    <div class="profile">
        <div class="profile-header">
            <div class="profile-image">
                <img src="{{ user.photo.url }}" alt="">
            </div>
            <div class="profile-info">
                <h1 class="username">@{{ user.username }}</h1>
                <h3 class="name">{{ user.first_name }} {{ user.last_name }}</h3>
            </div>
        </div>

    </div>

    <h3 class="form-title">Задай свой вопрос ✍🏻</h3>
    <form class="add-question" method="POST">
        {% csrf_token %}
        {{ question_form.question_name }}
        <button type="submit"></button>
    </form>

    <div class="questions">
        {% for answer in answers %}
            <div class="question-item">
                <h3 class="question-name">{{ answer.question.question_name }}</h3>
                <p class="question-publication-date">{{ answer.question.publication_date|date:'j E • H:i' }}</p>
                <h4>{{ answer.answer_name }}</h4>
                {% if answer.image %}
                    <img src="{{ answer.image.url }}" alt="">
                {% endif %}
            </div>
        {% endfor %}
    </div>

{% endblock %}