{% extends '../template.html' %}

{% block content %}
    <div>
        {% if message %}
            <h1>{{ message }}</h1>
        {% endif %}
    </div>


    <div class="answer-form">
        <h1 class="question-detail-name">{{ question.question_name }}</h1>

        <h3 class="form-title">Ответить</h3>
        <form class="add-answer" method="POST" enctype='multipart/form-data'>
            {% csrf_token %}

            <div class="send-answer">
                {{ answer_form.answer_name }}
                <button type="submit"></button>
            </div>

            <img src="" class="loaded-image" alt="">
            <div class="answer-form-bottom">
                <div class="answer-image-loader">
                    <label for="file-input"></label>
                    {{ answer_form.image }}
                </div>
            </div>
        </form>

    </div>

{% endblock %}