{% extends 'template.html' %}

{% block content %}

    <div class="questions">
    {% if questions %}
        {% for question in questions %}
            <a href="{% url 'question_detail' question.id %}">
                <div class="question-item">
                    <h3 class="question-name">{{ question.question_name }}</h3>
                    <p class="question-publication-date">{{ question.publication_date|date:'j E • H:i' }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
    {% else %}
        <div class="questions-info">
            <h1>Вопросов пока нет</h1>
        </div>
    {% endif %}
{%  endblock %}