{% extends '../template.html' %}

{% block content %}

    <div class="form-auth">
        <form action="" method="POST">
            {% csrf_token %}
            <h2>Регистрация</h2>
            <label for="login">Логин</label>
            <input type="text" id="login" name="login">

            <label for="password">Пароль</label>
            <input type="password" id="password" name="password">

            <label for="password2">Повторите пароль</label>
            <input type="password" id="password2" name="password2">

            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>

{% endblock %}